<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web based address book for organization">
    <meta name="author" content="Indra Lukmana">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap.css") }}">
</head>
<body>

<div class="jumbotron">
    <div class="container-fluid">
        <h1 class="display-3">Organization Address Book</h1>
    </div>
</div>

<div class="container-fluid">

    <div class="row">
        {% if not session.logged_in %}
            <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
    </div> <!-- div row login/logout -->

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success">
            {{ message }}
        </div> <!-- div alert -->
    {% endfor %}

    <div class="row">
        <div class="col-12">
            {% block content %}
            {% endblock %}
        </div> <!-- div col-12 -->
    </div> <!-- div row content -->

    <!-- jQuery, Tether, and Bootstrap Javascript -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</div> <!-- end div for container -->
</body>
</html>